.contenedor02 {
    padding: 0;
    margin: 0;
    width: 100%;
}

.contentColumna02 {
    margin: 0;
    padding: 0;
}

.filaUno02 {
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: 0;
    padding: 20px 30px;
    background-color: #ADD4F7;
}

.imagenPrinc02 {
    border-radius: 15px;
    height: 200px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.info02 {
    background-color: #ADD4F7;
    padding: 10px 30px;
    align-items: center;
    margin: 0;
}

.info02 h2 {
    font-size: x-large;
}

.textContenido {
    margin-bottom: 0.5rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li header {
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex; 
}

ul li header div {
    display: flex;
    flex-direction: column;
}

.iconp02 {
    font-size: 3rem;
    color: #005AA9;
    margin-right: 0.7rem;
}

.btnp02 {
    background-color: #005AA9;
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    margin: 0 0 0 72px;
    border-radius: 20px;
}

.btnp02:hover {
    background-color: #006dcc;
}

@media (min-width: 1440px) {
    
    .contenedor02 {
        padding: 20px 10px 0 10px;
    }

    .filaUno02 {
        display: flex;
        justify-content: center;
        justify-items: center;
        margin: 0;
        padding: 0;
        background-color: #F7F9FB;
    }

    .imagenPrinc02 {
        border-radius: 0;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .info02 {
        background-color: #F7F9FB;
        padding: 80px 50px 50px 100px;
        align-items: center;
    }

    .info02 h2 {
        font-size: 33px;
    }

    p.textContenido {
        margin: 1rem 0 2.5rem 0;
        margin-right: 90px;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    ul li header {
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 3rem;
        display: flex; 
    }

    ul li header div {
        display: flex;
        flex-direction: column;
    }

    .iconp02 {
        font-size: 2.2rem;
        color: #005AA9;
        margin-right: 1rem;
    }

    .btnp02 {
        background-color: #005AA9;
        color: white;
        text-decoration: none;
        padding: 5px 50px;
        border-radius: 20px;
        margin: 0;
        text-align: center;
        align-items: center;
    }

    .btnp02:hover {
        background-color: #006dcc;
    }
}