.Bsesion {
    background-color: #005AA9;
    padding: 5px 10px;
    color: white;
    font-size: large;
    border-radius: 30px;
    margin-left: 100px;
    text-decoration: none;
    
}

.Bsesion:hover, .Bsesion:active {
    background-color: #006dcc;
}
