.buscarContenido {
  z-index: 2;
  max-width: 1200px;
  width: 1200px;
  padding: 10px;
}

.buscarCabecera {
  background-color: #ffff;
  padding: 0 30px;
  margin-bottom: 10px;  
  align-items: center;
  text-align: center;
}

.contmapa {
  background-color: #ffff;
  padding: 15px 50px 10px 50px;
  height: 400px;
  /*display: flex;
  flex-direction: column;*/
}

.cBtnBusq {
  display: flex;
  justify-content: end;
  width: 100%;
}

header img {
  max-width: 200px;
  max-height: 60px;

}

.separador-vertical {
  width: 3px;             /* Grosor */
  height: 60px;          /* Altura */
  background-color: #ccc; /* Color */
  margin: 0 1rem;         /* Espaciado horizontal */
}

.contCancelMap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;  
  width: 100%;
}

.segundo {
  width: 400px;
  text-align-last: center ;
}